
<div class="login-form">

<div class = "login-content">
<h1>Edit <%= @pet.name %> </h1>
<%= image_tag @pet.photo, :style => "border-radius: 50%;
    border-style: solid;"%>

<%= simple_form_for @pet do |f| %>
  <%= f.input :name%>
  <%= f.input :animal_type %>
  <%= f.input :description %>
  <%= f.input :availability, as: :date, html5: true %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.submit "Edit my pet" %>
<% end %>




</div>
</div>




