<div class="wrapper-map">
  <div class="container">
    <h2>Pets in your area</h2>
    <div class="row all-cards">
      <% @pets.each do |pet| %>
      <%= link_to pet_path(pet) do %>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),url('<%= cl_image_path pet.photo, crop: :fill %>')">
            <div class="card-category"><%= pet.name %></div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div
      class="mapper"
      id="map"
      data-markers="<%= @markers.to_json %>"
  ></div>
</div>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
