<div class="login-form">
  <div class = "login-content">
    <h1> <%= @pet.name %>'s paw-rsonal profile! </h1>
    <%= cl_image_tag @pet.photo, height: 300, width: 400, crop: :fill %>

    <%= @pet.name %>
    <%= @pet.description %>


    <%= simple_form_for [@pet, @booking] do |f| %>
      <%= f.input :date, collection: @pet.availability %>
      <%= f.submit "Book Now", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>


