<h1>Pet's details</h1>
<%= cl_image_tag @pet.photo, height: 300, width: 400, crop: :fill %>
<%= @pet.name %>
<% @pet.bookings.each do |booking| %>
  <p>Booking Date: <%= booking.date %></p>
  <p><%= booking.time %></p>
<% end %>

<%= simple_form_for [@pet, @booking] do |f| %>
  <%= f.input :date, collection: @pet.availability %>
  <%= f.submit "Book Now", class: "btn btn-primary" %>
<% end %>


