<div class="login-form">

<div class = "login-content">

<h1>Profile</h1>
<p><%= @user.name %></p>
<p><%= @user.email %></p>
<p><%= @user.phone_number %></p>
<p><%= @user.address %></p>

<%= link_to "Edit your Profile", edit_user_registration_path, class: "btn btn-primary"  %>
 </div>
</div>
